USE [master]
GO
/****** Object:  Database [dataproje]    Script Date: 6.08.2021 11:00:10 ******/
CREATE DATABASE [dataproje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dataproje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dataproje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dataproje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dataproje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dataproje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dataproje]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAd] [varchar](10) NULL,
	[KullaniciSifre] [varchar](30) NULL,
	[Yetki] [varchar](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carilers]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carilers](
	[CariId] [int] IDENTITY(1,1) NOT NULL,
	[CariAd] [varchar](30) NOT NULL,
	[CariSoyad] [varchar](30) NOT NULL,
	[CariSehir] [varchar](13) NULL,
	[TelefonNo] [int] NOT NULL,
	[CariMail] [varchar](50) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Carilers] PRIMARY KEY CLUSTERED 
(
	[CariId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degerlers]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degerlers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DegerAd] [nvarchar](max) NULL,
	[Deger1] [nvarchar](max) NULL,
	[Deger2] [nvarchar](max) NULL,
	[OzellikId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Degerlers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmen]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmen](
	[DepartmanId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAd] [varchar](30) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departmen] PRIMARY KEY CLUSTERED 
(
	[DepartmanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaturaKalems]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaturaKalems](
	[FaturaKalemId] [int] IDENTITY(1,1) NOT NULL,
	[SatisHareketId] [int] NOT NULL,
	[FaturaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FaturaKalems] PRIMARY KEY CLUSTERED 
(
	[FaturaKalemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faturalars]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faturalars](
	[FaturaId] [int] IDENTITY(1,1) NOT NULL,
	[FaturaSeriNo] [varchar](1) NULL,
	[FaturaSıraNo] [varchar](6) NULL,
	[Tarih] [datetime] NOT NULL,
	[VergiDairesi] [varchar](60) NULL,
	[Saat] [varchar](5) NULL,
	[TeslimEden] [varchar](30) NULL,
	[TeslimAlan] [varchar](30) NULL,
	[Toplam] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Faturalars] PRIMARY KEY CLUSTERED 
(
	[FaturaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giders]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giders](
	[GiderId] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Tarih] [datetime] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Giders] PRIMARY KEY CLUSTERED 
(
	[GiderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KategoriMarkas]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KategoriMarkas](
	[KategoriId] [int] NOT NULL,
	[MarkaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.KategoriMarkas] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC,
	[MarkaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KategoriOzelliks]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KategoriOzelliks](
	[KategoriId] [int] NOT NULL,
	[OzellikId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.KategoriOzelliks] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC,
	[OzellikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](30) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Markas]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markas](
	[MarkaId] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAd] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Markas] PRIMARY KEY CLUSTERED 
(
	[MarkaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[ModelId] [int] IDENTITY(1,1) NOT NULL,
	[ModelAd] [nvarchar](max) NULL,
	[MarkaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Models] PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ozelliks]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ozelliks](
	[OzellikId] [int] IDENTITY(1,1) NOT NULL,
	[OzellikAd] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Ozelliks] PRIMARY KEY CLUSTERED 
(
	[OzellikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personels]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personels](
	[PersonelId] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAd] [varchar](30) NULL,
	[PersonelSoyad] [varchar](30) NULL,
	[PersonelGorsel] [varchar](250) NULL,
	[DepartmanId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Personels] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisHarekets]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisHarekets](
	[SatisHareketId] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[UrunId] [int] NOT NULL,
	[CariId] [int] NOT NULL,
	[PersonelId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SatisHarekets] PRIMARY KEY CLUSTERED 
(
	[SatisHareketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stoks]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stoks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StokSayi] [int] NOT NULL,
	[StokTarih] [datetime] NOT NULL,
	[UrunId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Stoks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunGorsels]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunGorsels](
	[UrunGorselId] [int] IDENTITY(1,1) NOT NULL,
	[Dizin] [nvarchar](max) NULL,
	[UrunId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UrunGorsels] PRIMARY KEY CLUSTERED 
(
	[UrunGorselId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunMarkaModels]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunMarkaModels](
	[UrunMarkaModelId] [int] IDENTITY(1,1) NOT NULL,
	[MarkaId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UrunMarkaModels] PRIMARY KEY CLUSTERED 
(
	[UrunMarkaModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunOzelliks]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunOzelliks](
	[UrunOzellikId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[OzellikId] [int] NOT NULL,
	[DegerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UrunOzelliks] PRIMARY KEY CLUSTERED 
(
	[UrunOzellikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uruns]    Script Date: 6.08.2021 11:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uruns](
	[UrunId] [int] NOT NULL,
	[UrunAd] [varchar](30) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[AlisFiyati] [decimal](18, 2) NOT NULL,
	[SatisFiyati] [decimal](18, 2) NOT NULL,
	[Durum] [bit] NOT NULL,
	[KategoriId] [int] NOT NULL,
	[UrunMarkaModelId] [int] NOT NULL,
	[MarkaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Uruns] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Degerlers] ON 

INSERT [dbo].[Degerlers] ([Id], [DegerAd], [Deger1], [Deger2], [OzellikId]) VALUES (1, N'Kırmızı', N'#FF0000', NULL, 1)
INSERT [dbo].[Degerlers] ([Id], [DegerAd], [Deger1], [Deger2], [OzellikId]) VALUES (2, N'Mavi', N'#0000FF', NULL, 1)
INSERT [dbo].[Degerlers] ([Id], [DegerAd], [Deger1], [Deger2], [OzellikId]) VALUES (3, N'Yeşil', N'#008000', NULL, 1)
SET IDENTITY_INSERT [dbo].[Degerlers] OFF
GO
INSERT [dbo].[KategoriMarkas] ([KategoriId], [MarkaId]) VALUES (1, 1)
INSERT [dbo].[KategoriMarkas] ([KategoriId], [MarkaId]) VALUES (1, 2)
INSERT [dbo].[KategoriMarkas] ([KategoriId], [MarkaId]) VALUES (1, 3)
GO
INSERT [dbo].[KategoriOzelliks] ([KategoriId], [OzellikId]) VALUES (1, 1)
INSERT [dbo].[KategoriOzelliks] ([KategoriId], [OzellikId]) VALUES (2, 1)
INSERT [dbo].[KategoriOzelliks] ([KategoriId], [OzellikId]) VALUES (1, 2)
GO
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([KategoriId], [KategoriAd]) VALUES (1, N'Beyazeşya')
INSERT [dbo].[Kategoris] ([KategoriId], [KategoriAd]) VALUES (2, N'Televizyon')
INSERT [dbo].[Kategoris] ([KategoriId], [KategoriAd]) VALUES (3, N'Telefon')
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
GO
SET IDENTITY_INSERT [dbo].[Markas] ON 

INSERT [dbo].[Markas] ([MarkaId], [MarkaAd]) VALUES (1, N'Bosch')
INSERT [dbo].[Markas] ([MarkaId], [MarkaAd]) VALUES (2, N'Beko')
INSERT [dbo].[Markas] ([MarkaId], [MarkaAd]) VALUES (3, N'Arçelik')
SET IDENTITY_INSERT [dbo].[Markas] OFF
GO
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([ModelId], [ModelAd], [MarkaId]) VALUES (1, N'570504MB', 3)
INSERT [dbo].[Models] ([ModelId], [ModelAd], [MarkaId]) VALUES (2, N'570463MB', 3)
INSERT [dbo].[Models] ([ModelId], [ModelAd], [MarkaId]) VALUES (3, N'270560EBC', 3)
SET IDENTITY_INSERT [dbo].[Models] OFF
GO
SET IDENTITY_INSERT [dbo].[Ozelliks] ON 

INSERT [dbo].[Ozelliks] ([OzellikId], [OzellikAd]) VALUES (1, N'Renk')
INSERT [dbo].[Ozelliks] ([OzellikId], [OzellikAd]) VALUES (2, N'Enerji Sınıfı')
SET IDENTITY_INSERT [dbo].[Ozelliks] OFF
GO
/****** Object:  Index [IX_OzellikId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_OzellikId] ON [dbo].[Degerlers]
(
	[OzellikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FaturaId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_FaturaId] ON [dbo].[FaturaKalems]
(
	[FaturaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KategoriId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriId] ON [dbo].[KategoriMarkas]
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MarkaId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_MarkaId] ON [dbo].[KategoriMarkas]
(
	[MarkaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KategoriId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriId] ON [dbo].[KategoriOzelliks]
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OzellikId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_OzellikId] ON [dbo].[KategoriOzelliks]
(
	[OzellikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MarkaId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_MarkaId] ON [dbo].[Models]
(
	[MarkaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmanId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmanId] ON [dbo].[Personels]
(
	[DepartmanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CariId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_CariId] ON [dbo].[SatisHarekets]
(
	[CariId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonelId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_PersonelId] ON [dbo].[SatisHarekets]
(
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SatisHareketId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_SatisHareketId] ON [dbo].[SatisHarekets]
(
	[SatisHareketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_UrunId] ON [dbo].[SatisHarekets]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_UrunId] ON [dbo].[Stoks]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_UrunId] ON [dbo].[UrunGorsels]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_UrunId] ON [dbo].[UrunOzelliks]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KategoriId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriId] ON [dbo].[Uruns]
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunId]    Script Date: 6.08.2021 11:00:10 ******/
CREATE NONCLUSTERED INDEX [IX_UrunId] ON [dbo].[Uruns]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UrunOzelliks] ADD  DEFAULT ((0)) FOR [OzellikId]
GO
ALTER TABLE [dbo].[UrunOzelliks] ADD  DEFAULT ((0)) FOR [DegerId]
GO
ALTER TABLE [dbo].[Uruns] ADD  DEFAULT ((0)) FOR [MarkaId]
GO
ALTER TABLE [dbo].[Degerlers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Degerlers_dbo.Ozelliks_OzellikId] FOREIGN KEY([OzellikId])
REFERENCES [dbo].[Ozelliks] ([OzellikId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Degerlers] CHECK CONSTRAINT [FK_dbo.Degerlers_dbo.Ozelliks_OzellikId]
GO
ALTER TABLE [dbo].[FaturaKalems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_FaturaId] FOREIGN KEY([FaturaId])
REFERENCES [dbo].[Faturalars] ([FaturaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaturaKalems] CHECK CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_FaturaId]
GO
ALTER TABLE [dbo].[KategoriMarkas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KategoriMarkas_dbo.Kategoris_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoris] ([KategoriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KategoriMarkas] CHECK CONSTRAINT [FK_dbo.KategoriMarkas_dbo.Kategoris_KategoriId]
GO
ALTER TABLE [dbo].[KategoriMarkas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KategoriMarkas_dbo.Markas_MarkaId] FOREIGN KEY([MarkaId])
REFERENCES [dbo].[Markas] ([MarkaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KategoriMarkas] CHECK CONSTRAINT [FK_dbo.KategoriMarkas_dbo.Markas_MarkaId]
GO
ALTER TABLE [dbo].[KategoriOzelliks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KategoriOzelliks_dbo.Kategoris_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoris] ([KategoriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KategoriOzelliks] CHECK CONSTRAINT [FK_dbo.KategoriOzelliks_dbo.Kategoris_KategoriId]
GO
ALTER TABLE [dbo].[KategoriOzelliks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KategoriOzelliks_dbo.Ozelliks_OzellikId] FOREIGN KEY([OzellikId])
REFERENCES [dbo].[Ozelliks] ([OzellikId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KategoriOzelliks] CHECK CONSTRAINT [FK_dbo.KategoriOzelliks_dbo.Ozelliks_OzellikId]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Models_dbo.Markas_MarkaId] FOREIGN KEY([MarkaId])
REFERENCES [dbo].[Markas] ([MarkaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_dbo.Models_dbo.Markas_MarkaId]
GO
ALTER TABLE [dbo].[Personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personels_dbo.Departmen_DepartmanId] FOREIGN KEY([DepartmanId])
REFERENCES [dbo].[Departmen] ([DepartmanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personels] CHECK CONSTRAINT [FK_dbo.Personels_dbo.Departmen_DepartmanId]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_CariId] FOREIGN KEY([CariId])
REFERENCES [dbo].[Carilers] ([CariId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_CariId]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.FaturaKalems_SatisHareketId] FOREIGN KEY([SatisHareketId])
REFERENCES [dbo].[FaturaKalems] ([FaturaKalemId])
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.FaturaKalems_SatisHareketId]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_PersonelId] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[Personels] ([PersonelId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_PersonelId]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Uruns] ([UrunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_UrunId]
GO
ALTER TABLE [dbo].[Stoks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stoks_dbo.Uruns_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Uruns] ([UrunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stoks] CHECK CONSTRAINT [FK_dbo.Stoks_dbo.Uruns_UrunId]
GO
ALTER TABLE [dbo].[UrunGorsels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UrunGorsels_dbo.Uruns_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Uruns] ([UrunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UrunGorsels] CHECK CONSTRAINT [FK_dbo.UrunGorsels_dbo.Uruns_UrunId]
GO
ALTER TABLE [dbo].[UrunOzelliks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UrunOzelliks_dbo.Uruns_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Uruns] ([UrunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UrunOzelliks] CHECK CONSTRAINT [FK_dbo.UrunOzelliks_dbo.Uruns_UrunId]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoris] ([KategoriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_KategoriId]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uruns_dbo.UrunMarkaModels_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[UrunMarkaModels] ([UrunMarkaModelId])
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_dbo.Uruns_dbo.UrunMarkaModels_UrunId]
GO
USE [master]
GO
