
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h2 class="mt-4 mb-4">Index</h2>
    <div class="row">
        <div class="col-3 mb-4">
            <a style="text-decoration:none;" href="/Yazdir/UrunYazdir/">
                <div class="card">
                    <i class="fas fa-folder-open fa-10x" style="color:orangered;margin-left:40px;"></i>
                    <div class="card-body">
                        <h4 class="card-title">Ürünler Pdf-Excell</h4>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
