@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model dynamic
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card card-margin">
                    <div class="card-body">
                        <div class="page-header">
                            <h3 class="page-title">
                                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                    <i class="mdi mdi-package-variant"></i>
                                </span> Ürün Ekle
                            </h3>
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="form-sample">
                            <form class="form-group mt-4" method="post" id="urunform" enctype="multipart/form-data">
                                <label for="UrunAd">Ürünün Adı</label>
                                <input type="text" id="UrunAd" name="UrunAd" class="form-control" />
                                <br />
                                <label for="Aciklama">Açıklama</label>
                                <input type="text" id="Aciklama" name="Aciklama" class="form-control" />
                                <br />
                                <label for="Aciklama">Açıklama</label>
                                <input type="text" id="Aciklama" name="Aciklama" class="form-control" />
                                <br />
                                <label for="AlisFiyati">Alış Fiyatı</label>
                                <input type="text" id="AlisFiyati" name="AlisFiyati" class="form-control" />
                                <br />
                                <label for="SatisFiyati">Satış Fiyatı</label>
                                <input type="text" id="SatisFiyati" name="SatisFiyati" class="form-control" />
                                <br />
                                <label for="kategoriselect">Kategoriler</label>
                                <select name="KategoriId" onchange="kategorisec($(this).val());ozelliksec($(this).val())" id="kategoriselect" class="form-control">
                                    @foreach (var x in (List<SelectListItem>)ViewBag.kate)
                                    {
                                        <option value="@x.Value">@x.Text</option>
                                    }
                                </select>
                                <br />
                                <label for="markaselect">Markalar</label>
                                <select id="markaselect" name="MarkaId" onchange="markasec($(this).val())" class="form-control">
                                </select>
                                <br />
                                <label for="modelselect">Modeller</label>
                                <select id="modelselect" name="ModelId" class="form-control">
                                </select>
                                <br />
                                <label for="ozellikler">Özellikler</label>
                                <div id="ozellikler" class="form-group ozellikDiv row">
                                </div>
                                <div class="form-group resimler">
                                    <div>
                                        <label class="btn btn-primary" id="file-label" for="input-file-0">Dosya Ekle</label>
                                        <ul id="ulElement" class="list-group list-group-horizontal">
                                            <input hidden name="resim-0" id="input-file-0" type="file" class="form-control">
                                        </ul>
                                    </div>
                                </div>
                                <br />
                                <label for="Durum">Durum</label>
                                <input type="text" id="Durum" name="Durum" class="form-control" />
                                <br />
                                <button class="btn btn-success">Kaydet</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        kategorisec = function (id) {
            $("#markaselect").find('.markaChild').remove();
            $("#modelselect").find('.modelChild').remove();
            if (id != 0)
            {
                $.ajax({
                    url: "/Urun/MarkaGetir/",
                    type: "GET",
                    dataType: 'json',
                    data: { id: id }
                }).done(function (x) {
                    var y = JSON.parse(x)
                    $("#markaselect").append(`
                        <option class="markaChild" value="0">Marka Seçiniz</option>
                    `);
                    Object.keys(y).forEach(function (key) {
                        $("#markaselect").append(`
                        <option class="markaChild" value="${y[key].Value}">${y[key].Text}</option>
                    `);
                    })
                });
            }
        }
        markasec = function (id) {
            $("#modelselect").find('.modelChild').remove();
            if (id != 0)
            {
                $.ajax({
                    url: "/Urun/ModelGetir/",
                    type: "GET",
                    dataType: 'json',
                    data: { id: id }
                }).done(function (x) {
                    var y = JSON.parse(x)
                    $("#modelselect").append(`
                        <option class="modelChild" value="0">Model Seçiniz</option>
                    `);
                    Object.keys(y).forEach(function (key) {
                        $("#modelselect").append(`
                        <option class="modelChild" value="${y[key].Value}">${y[key].Text}</option>
                    `);
                    })
                });
            }
        }
        ozelliksec = function (id) {
            $("#ozellikler").html("");
            if (id != 0)
            {
                $.ajax({
                    url: "/Urun/OzellikGetir/",
                    type: "GET",
                    dataType: 'json',
                    data: { id: id }
                }).done(function (x) {
                    var y = JSON.parse(x);
                    Object.keys(y).forEach(function (key) {
                        $("#ozellikler").append(`
                                <div class="col-4">
                                    <label for="ozellikselect-${y[key].Value}">${y[key].Text}</label>
                                    <select class="form-control" name="deger[${id}]" style="display:inline !important;" onfocus="degersec(${y[key].Value})" id="ozellikselect-${y[key].Value}" class="form-control">
                                        <option class="${id}-child" value="0">Değer Seçiniz</option>
                                    </select>
                                </div>
                        `);
                    });
                    
                });
            }
        }

        degersec = function (id)
        {
            $(`#ozellikselect-${id}`).html("");
            if (id != 0)
            {
                $.ajax({
                    url: "/Urun/DegerGetir/",
                    type: "GET",
                    dataType: 'json',
                    data: { id: id }
                }).done(function (x) {
                    var y = JSON.parse(x);
                    Object.keys(y).forEach(function (key) {
                        $(`#ozellikselect-${id}`).append(`
                            <option class="${id}-child" value="${y[key].Value}">${y[key].Text}</option>
                        `);
                    });
                });
            }
        }
        $("#urunform").on("submit", function (event) {
            event.preventDefault();
            var self = $("#urunform");
            $.ajax({
                url: '/Urun/YeniUrun',
                method: "POST",
                dataType: 'json',
                data: self.serialize(),
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
            });
            console.log(self.serialize());
        })
    })
</script>